.Image {

  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

.h1 {
  font-size: 40px;
  font-weight: 800;
  color: white;
  letter-spacing: 2px;
  /* Adjust the spacing between letters */
}
.h3{  
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  color: aliceblue;
  
}

.imageContainer{
  display: inline-flex;
  gap: 10px; 
  align-items: center;
}



.span {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 5px;
}

.h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: lightslategray;
  opacity: 0.8;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  /* Adjust the spacing between letters */
}


/* CSS Animation */
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply the animation to the section */
.animatedsection {
  animation: slideInRight 1s ease-in-out;
}


@keyframes typing {

  0.0000%,
  27.3488% {
    content: "";
  }

  1.1395%,
  26.2093% {
    content: "N";
  }

  2.2791%,
  25.0698% {
    content: "Ne";
  }

  3.4186%,
  23.9302% {
    content: "Nex";
  }

  4.5581%,
  22.7907% {
    content: "Next";
  }

  30.7674%,
  51.2791% {
    content: "";
  }

  31.9070%,
  50.1395% {
    content: "R";
  }

  33.0465%,
  49.0000% {
    content: "Re";
  }

  34.1860%,
  47.8605% {
    content: "Rea";
  }

  35.3256%,
  46.7209% {
    content: "Reac";
  }

  36.4651%,
  45.5814% {
    content: "React";
  }

  54.6977%,
  75.2093% {
    content: "";
  }

  55.8372%,
  74.0698% {
    content: "N";
  }

  56.9767%,
  72.9302% {
    content: "No";
  }

  58.1163%,
  71.7907% {
    content: "Nod";
  }

  59.2558%,
  70.6512% {
    content: "Node";
  }

  78.6279%,
  96.8605% {
    content: "";
  }

  79.7674%,
  95.7209% {
    content: "G";
  }

  80.9070%,
  94.5814% {
    content: "Gr";
  }

  82.0465%,
  93.4419% {
    content: "Gra";
  }

  83.1860%,
  92.3023% {
    content: "Grap";
  }

  84.3256%,
  91.1628% {
    content: "Graph";
  }

  85.4651%,
  90.0233% {
    content: "GraphQL";
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {

    0%,
    100% {
      content: "developer";
    }

    25% {
      content: "writer";
    }

    50% {
      content: "reader";
    }

    75% {
      content: "human";
    }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}


@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 40% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}